In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [24]:

df = pd.read_csv('data/ready_to_modeling_data.csv')

In [25]:
df

,Unnamed: 0,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,...,lag_1h,lag_24h,rolling_mean_3h,rolling_mean_24h,temp_squared,temp_weekend,sin_day,cos_day,sin_week,cos_week
0,0,2000-01-02 00:00:00,6,0,1,12.278086,0,9.818864,561.445496,1,...,517.798450,512.319382,572.066887,502.256181,150.751405,12.278086,0.000000,1.000000,-0.781831,0.623490
1,1,2000-01-02 01:00:00,6,1,1,15.554613,0,5.034357,528.952707,1,...,561.445496,439.055673,536.065551,506.001890,241.945984,15.554613,0.258819,0.965926,-0.781831,0.623490
2,2,2000-01-02 02:00:00,6,2,1,9.245032,0,0.622450,502.959334,1,...,528.952707,539.090652,531.119179,504.496419,85.470619,9.245032,0.500000,0.866025,-0.781831,0.623490
3,3,2000-01-02 03:00:00,6,3,1,16.878490,0,9.506536,509.784184,1,...,502.959334,523.248968,513.898742,503.935386,284.883428,16.878490,0.707107,0.707107,-0.781831,0.623490
4,4,2000-01-02 04:00:00,6,4,1,11.996807,0,9.509486,439.657242,1,...,509.784184,516.822822,484.133587,500.720154,143.923367,11.996807,0.866025,0.500000,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210332,210332,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598,12,...,523.891176,634.786702,549.547935,494.744509,105.832411,10.287488,-0.866025,0.500000,-0.974928,-0.222521
210333,210333,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183,12,...,614.952598,586.105928,590.918319,496.736395,188.470849,13.728469,-0.707107,0.707107,-0.974928,-0.222521
210334,210334,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494,12,...,633.911183,555.188820,621.918425,499.307340,145.675361,12.069605,-0.500000,0.866025,-0.974928,-0.222521
210335,210335,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142,12,...,616.891494,510.122261,582.678606,498.770293,241.582638,15.542929,-0.258819,0.965926,-0.974928,-0.222521
210336,210336,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426,12,...,497.233142,477.545335,546.665020,500.783839,325.102482,18.030598,0.000000,1.000000,-0.781831,0.623490

In [26]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [27]:
df

,timestamp,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,electricity_demand,month,season,...,lag_1h,lag_24h,rolling_mean_3h,rolling_mean_24h,temp_squared,temp_weekend,sin_day,cos_day,sin_week,cos_week
0,2000-01-02 00:00:00,6,0,1,12.278086,0,9.818864,561.445496,1,Winter1,...,517.798450,512.319382,572.066887,502.256181,150.751405,12.278086,0.000000,1.000000,-0.781831,0.623490
1,2000-01-02 01:00:00,6,1,1,15.554613,0,5.034357,528.952707,1,Winter1,...,561.445496,439.055673,536.065551,506.001890,241.945984,15.554613,0.258819,0.965926,-0.781831,0.623490
2,2000-01-02 02:00:00,6,2,1,9.245032,0,0.622450,502.959334,1,Winter1,...,528.952707,539.090652,531.119179,504.496419,85.470619,9.245032,0.500000,0.866025,-0.781831,0.623490
3,2000-01-02 03:00:00,6,3,1,16.878490,0,9.506536,509.784184,1,Winter1,...,502.959334,523.248968,513.898742,503.935386,284.883428,16.878490,0.707107,0.707107,-0.781831,0.623490
4,2000-01-02 04:00:00,6,4,1,11.996807,0,9.509486,439.657242,1,Winter1,...,509.784184,516.822822,484.133587,500.720154,143.923367,11.996807,0.866025,0.500000,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210332,2023-12-30 20:00:00,5,20,1,10.287488,0,6.321843,614.952598,12,Winter2,...,523.891176,634.786702,549.547935,494.744509,105.832411,10.287488,-0.866025,0.500000,-0.974928,-0.222521
210333,2023-12-30 21:00:00,5,21,1,13.728469,0,4.988534,633.911183,12,Winter2,...,614.952598,586.105928,590.918319,496.736395,188.470849,13.728469,-0.707107,0.707107,-0.974928,-0.222521
210334,2023-12-30 22:00:00,5,22,1,12.069605,0,7.831031,616.891494,12,Winter2,...,633.911183,555.188820,621.918425,499.307340,145.675361,12.069605,-0.500000,0.866025,-0.974928,-0.222521
210335,2023-12-30 23:00:00,5,23,1,15.542929,0,2.843539,497.233142,12,Winter2,...,616.891494,510.122261,582.678606,498.770293,241.582638,15.542929,-0.258819,0.965926,-0.974928,-0.222521
210336,2023-12-31 00:00:00,6,0,1,18.030598,0,2.196294,525.870426,12,Winter2,...,497.233142,477.545335,546.665020,500.783839,325.102482,18.030598,0.000000,1.000000,-0.781831,0.623490

In [28]:
## Getting All Different Types OF Features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
print('Num of Numerical Features :', len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))
discrete_features=[feature for feature in num_features if len(df[feature].unique())<=25]
print('Num of Discrete Features :',len(discrete_features))
continuous_features=[feature for feature in num_features if feature not in discrete_features]
print('Num of Continuous Features :',len(continuous_features))

Num of Numerical Features : 20
Num of Categorical Features : 2
Num of Discrete Features : 11
Num of Continuous Features : 9

In [29]:
## Indpendent and dependent features
from sklearn.model_selection import train_test_split
X = df.drop(['electricity_demand'], axis=1)
y = df['electricity_demand']

In [30]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [33]:
X.drop('timestamp', axis=1, inplace=True)

In [34]:
X

,day_of_week,hour_of_day,is_weekend,temperature,is_holiday,solar_generation,month,season,is_national_holiday,is_diwali_season,lag_1h,lag_24h,rolling_mean_3h,rolling_mean_24h,temp_squared,temp_weekend,sin_day,cos_day,sin_week,cos_week
0,6,0,1,12.278086,0,9.818864,1,Winter1,0,0,517.798450,512.319382,572.066887,502.256181,150.751405,12.278086,0.000000,1.000000,-0.781831,0.623490
1,6,1,1,15.554613,0,5.034357,1,Winter1,0,0,561.445496,439.055673,536.065551,506.001890,241.945984,15.554613,0.258819,0.965926,-0.781831,0.623490
2,6,2,1,9.245032,0,0.622450,1,Winter1,0,0,528.952707,539.090652,531.119179,504.496419,85.470619,9.245032,0.500000,0.866025,-0.781831,0.623490
3,6,3,1,16.878490,0,9.506536,1,Winter1,0,0,502.959334,523.248968,513.898742,503.935386,284.883428,16.878490,0.707107,0.707107,-0.781831,0.623490
4,6,4,1,11.996807,0,9.509486,1,Winter1,0,0,509.784184,516.822822,484.133587,500.720154,143.923367,11.996807,0.866025,0.500000,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210332,5,20,1,10.287488,0,6.321843,12,Winter2,0,0,523.891176,634.786702,549.547935,494.744509,105.832411,10.287488,-0.866025,0.500000,-0.974928,-0.222521
210333,5,21,1,13.728469,0,4.988534,12,Winter2,0,0,614.952598,586.105928,590.918319,496.736395,188.470849,13.728469,-0.707107,0.707107,-0.974928,-0.222521
210334,5,22,1,12.069605,0,7.831031,12,Winter2,0,0,633.911183,555.188820,621.918425,499.307340,145.675361,12.069605,-0.500000,0.866025,-0.974928,-0.222521
210335,5,23,1,15.542929,0,2.843539,12,Winter2,0,0,616.891494,510.122261,582.678606,498.770293,241.582638,15.542929,-0.258819,0.965926,-0.974928,-0.222521
210336,6,0,1,18.030598,0,2.196294,12,Winter2,0,0,497.233142,477.545335,546.665020,500.783839,325.102482,18.030598,0.000000,1.000000,-0.781831,0.623490

In [39]:
numerical_columns = [
                "day_of_week", "hour_of_day", "temperature", "solar_generation",
                "month", "lag_1h", "lag_24h", "rolling_mean_3h", "rolling_mean_24h",
                "temp_squared", "temp_weekend", "sin_day", "cos_day", "sin_week", "cos_week"
            ]
#Binary columns already 0/1 
binary_columns = ["is_weekend", "is_holiday", "is_national_holiday", "is_diwali_season"]
# Categorical column
categorical_columns = ["season"]

# Numerical pipeline
num_pipeline = Pipeline(
                steps=[
                    ("imputer", SimpleImputer(strategy="median")),
                    ("scaler", StandardScaler())
                ]
            )

            # Categorical pipeline
cat_pipeline = Pipeline(
                steps=[
                    ("imputer", SimpleImputer(strategy="most_frequent")),
                    ("one_hot_encoder", OneHotEncoder(handle_unknown="ignore")),
                    ("scaler", StandardScaler(with_mean=False))
                ]
            )



preprocessor = ColumnTransformer(
    transformers=[
        ("num_pipeline", num_pipeline,numerical_columns + binary_columns),
        ("cat_pipeline", cat_pipeline,categorical_columns)
    ]
)

In [42]:
X=preprocessor.fit_transform(X)

In [43]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1.499988,-1.661310,-1.714700,-0.872874,-1.601736,-0.076735,-0.137614,0.657783,-1.280549,-1.521660,...,-1.105671,0.881744,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,2.318649,0.00000
1,1.499988,-1.516848,-1.314070,-0.920750,-1.601736,0.408286,-0.951709,0.157790,-1.066869,-1.293391,...,-1.105671,0.881744,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,2.318649,0.00000
2,1.499988,-1.372385,-2.085560,-0.964897,-1.601736,0.047215,0.159864,0.089094,-1.152751,-1.685063,...,-1.105671,0.881744,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,2.318649,0.00000
3,1.499988,-1.227923,-1.152196,-0.876000,-1.601736,-0.241632,-0.016166,-0.150066,-1.184756,-1.185915,...,-1.105671,0.881744,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,2.318649,0.00000
4,1.499988,-1.083460,-1.749093,-0.875970,-1.601736,-0.165792,-0.087572,-0.563450,-1.368173,-1.538751,...,-1.105671,0.881744,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,2.318649,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210332,0.999990,1.227938,-1.958096,-0.907867,1.588419,-0.009031,1.223225,0.345036,-1.709063,-1.634096,...,-1.378750,-0.314696,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,0.000000,2.30381
210333,0.999990,1.372401,-1.537358,-0.921208,1.588419,1.002874,0.682291,0.919595,-1.595433,-1.427244,...,-1.378750,-0.314696,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,0.000000,2.30381
210334,0.999990,1.516863,-1.740192,-0.892765,1.588419,1.213548,0.338745,1.350131,-1.448769,-1.534365,...,-1.378750,-0.314696,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,0.000000,2.30381
210335,0.999990,1.661326,-1.315499,-0.942672,1.588419,1.024420,-0.162028,0.805161,-1.479406,-1.294301,...,-1.378750,-0.314696,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,0.000000,2.30381
210336,1.499988,-1.661310,-1.011324,-0.949149,1.588419,-0.305263,-0.524018,0.304998,-1.364540,-1.085243,...,-1.105671,0.881744,1.581126,-0.018505,-0.211132,-0.447825,0.0,0.0,0.000000,2.30381

In [44]:
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((168269, 23), (42068, 23))

In [45]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [46]:
##Create a Function to Evaluate Model
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [47]:
## Beginning Model Training
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "AdaBoost": AdaBoostRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 43.4262
- Mean Absolute Error: 34.5585
- R2 Score: 0.7673
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 43.1470
- Mean Absolute Error: 34.3469
- R2 Score: 0.7694
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 43.7880
- Mean Absolute Error: 34.8187
- R2 Score: 0.7634
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 43.4903
- Mean Absolute Error: 34.5907
- R2 Score: 0.7657
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 43.4262
- Mean Absolute Error: 34.5585
- R2 Score: 0.7673
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 43.1470
- Mean Absolute Error: 34.3469
- R2 Score: 0.7694
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 38.7310
- Mean Absolute Error: 30.8342
- R2 Score: 0.8149
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 47.6515
- Mean Absolute Error: 37.8363
- R2 Score: 0.7187
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 55.1323
- Mean Absolute Error: 43.8820
- R2 Score: 0.6235
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 14.5359
- Mean Absolute Error: 11.4886
- R2 Score: 0.9739
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 38.7886
- Mean Absolute Error: 30.9024
- R2 Score: 0.8136
===================================


AdaBoost
Model performance for Training set
- Root Mean Squared Error: 41.8381
- Mean Absolute Error: 33.3743
- R2 Score: 0.7840
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 41.8650
- Mean Absolute Error: 33.3623
- R2 Score: 0.7829
===================================

In [48]:
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

ada_params = {
              "n_estimators": [50,60,70,80],
              "loss":['linear', 'square', 'exponential']
}

In [50]:
randomcv_models = [
                   ("RF", RandomForestRegressor(), rf_params),
                   ("AB", AdaBoostRegressor(), ada_params)
                   ]